	<!-- Footer -->
	<footer>
	    <span id="year-copy"></span> &copy; <strong>infect</strong> - <i class="icon-heart"></i> - <strong><a href="http://www.joinbox.com" target="_blank">joinbox GmbH</a></strong>
	</footer>
	<!-- END Footer -->