<form class="form-horizontal form-box" method="post" action="" onsubmit="return false;" {{ form_enctype(form) }}>
    <h4 class="form-box-header">
        {% block form_title %}{% endblock %}
    </h4>

    <div class="form-box-content">
        {% block form_content %}            
        {% endblock %}

        <div class="form-actions">
            <input type="submit" class="btn btn-success" value="Save changes">
            <input type="submit" class="btn btn-danger" value="Cancel">
        </div>

    </div>
</form>    