	<!-- Navigation info -->
	<ul id="nav-info" class="clearfix">
	    <li><a href="index.html"><i class="icon-home"></i></a></li>
	    <li><a href="javascript:void(0)">Pages</a></li>
	    <li class="active"><a href="">Blank</a></li>
	</ul>
	<!-- END Navigation info -->