    <!-- Sidebar -->
    <aside id="page-sidebar" class="nav-collapse collapse">

        <!-- Sidebar search -->
<!--         <form id="sidebar-search" action="page_search_results.html" method="post">
            <div class="input-append">
                <input type="text" placeholder="Search.." class="remove-box-shadow remove-transition remove-radius">
                <button><i class="icon-search"></i></button>
            </div>
        </form> -->
        <!-- END Sidebar search -->

        <!-- Primary Navigation -->
        <nav id="primary-nav">
            <ul>
                <li>
                    <a href="{{ path('infect_dashboard') }}" class="active"><i class="icon-fire"></i>Dashboard</a>
                </li>
                <li>
                    <a href="#"><i class="icon-magic"></i>UI Elements</a>
                    <ul>
                        <li>
                            <a href="page_ui_general.html"><i class="icon-star"></i>General</a>
                        </li>
                        <li>
                            <a href="page_forms.html"><i class="icon-th-list"></i>Forms</a>
                        </li>
                        <li>
                            <a href="page_tables.html"><i class="icon-table"></i>Tables</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="icon-leaf"></i>Components</a>
                    <ul>
                        <li>
                            <a href="page_charts.html"><i class="icon-bar-chart"></i>Charts</a>
                        </li>
                        <li>
                            <a href="page_calendar.html"><i class="icon-calendar"></i>Calendar</a>
                        </li>
                        <li>
                            <a href="page_datatables.html"><i class="icon-th"></i>DataTables</a>
                        </li>
                        <li>
                            <a href="page_datatables_editable.html"><i class="icon-pencil"></i>Editable DataTables</a>
                        </li>
                        <li>
                            <a href="page_maps.html"><i class="icon-map-marker"></i>Maps</a>
                        </li>
                        <li>
                            <a href="page_form_validation.html"><i class="icon-warning-sign"></i>Form Validation</a>
                        </li>
                        <li>
                            <a href="page_form_wizard.html"><i class="icon-magic"></i>Form Wizard</a>
                        </li>
                        <li>
                            <a href="page_syntax_highlighting.html"><i class="icon-beaker"></i>Syntax Highlighting</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="page_typography.html"><i class="icon-font"></i>Typography</a>
                </li>
                <li>
                    <a href="page_gallery.html"><i class="icon-picture"></i>Gallery</a>
                </li>
                <li>
                    <a href="#"><i class="icon-tint"></i>Icons</a>
                    <ul>
                        <li>
                            <a href="page_glyphicons_pro.html">Glyphicons PRO</a>
                        </li>
                        <li>
                            <a href="page_glyphicons_halflings_pro.html">Glyphicons Halflings PRO</a>
                        </li>
                        <li>
                            <a href="page_fontawesome.html">FontAwesome</a>
                        </li>
                        <li>
                            <a href="page_gemicon.html">Gemicon</a>
                        </li>
                    </ul>
                </li>
                <li class="active">
                    <a href="#"><i class="icon-file-alt"></i>Pages</a>
                    <ul>
                        <li>
                            <a href="page_inbox.html"><i class="icon-envelope"></i>Inbox</a>
                        </li>
                        <li>
                            <a href="page_chatui.html"><i class="icon-comments"></i>ChatUI</a>
                        </li>
                        <li>
                            <a href="page_search_results.html"><i class="icon-search"></i>Search Results</a>
                        </li>
                        <li>
                            <a href="page_price_tables.html"><i class="icon-ticket"></i>Price Tables</a>
                        </li>
                        <li>
                            <a href="page_article.html"><i class="icon-pencil"></i>Article</a>
                        </li>
                        <li>
                            <a href="page_invoice.html"><i class="icon-book"></i>Invoice</a>
                        </li>
                        <li>
                            <a href="page_profile.html"><i class="icon-user"></i>Profile</a>
                        </li>
                        <li>
                            <a href="page_faq.html"><i class="icon-flag"></i>FAQ</a>
                        </li>
                        <li>
                            <a href="page_errors.html"><i class="icon-warning-sign"></i>Errors</a>
                        </li>
                        <li>
                            <a href="page_blank.html" class="active"><i class="icon-circle-blank"></i>Blank</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="page_login.html"><i class="icon-off"></i>Login Page</a>
                </li>
                <li>
                    <a href="page_landing.html"><i class="icon-rocket"></i>Landing Page</a>
                </li>
            </ul>
        </nav>
        <!-- END Primary Navigation -->
    </aside>
    <!-- END Sidebar -->