main {
  @include flexbox();
}

.filters {
  @include flex(1 0 20%);
  border-right: 1px solid #cccccc;

  // LIST TAGS
  &-tags {
    padding: 5px;
    border-bottom: 3px solid #fff;
    background-color: #f1f1cf;

    &__list-tag {
      padding: 5px;
      list-style: none;
    }

    h4 {
      margin-left: 40px;
    }

    .-filter {
      display: inline-block;
      vertical-align: middle;
      background: #b7b90e;
      padding: 3px 8px 1px 8px;
      padding-right: 26px;
      margin: 1px 2px;
      border-radius: 5px;
      color: #fff;
      font-size: 12px;
      margin: 3px 0px;
      position: relative;
    }

    .close {
      cursor:pointer;
      position: absolute;
      right: 7px;
      top: 2px;

      &:after, &:before {
        content:"";
        height:20px;
        width:20px;
        //border-top:1px solid #000;
        position:absolute;
        top:7px;
        right:-8px;
        @include rotate(-45deg);
      }

      &:hover {
        @include opacity(0.3);
      }
    }
  }

  &-filter{
    background-color: #f1f1cf;
  }

  &-bakterien {
    border-bottom: 1px solid #ccc;
    padding: 30px;
    p {
      color: #ccc
    }

    &__list-name-checkbox {
      //padding-left: 20px;
    }
  }

  &-antibiotika {
    border-bottom: 1px solid #ccc;
    padding: 30px;
    p {
      color: #ccc
    }
  }

  &-diagnosen {
    padding: 30px;
    p {
      color: #ccc
    }
  }

}
.content {
  @include flex(1 0 80%);
  padding-left: 10px;
}
