<!DOCTYPE html>
<!--[if lt IE 7]>      <html ng-app="infekt" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html ng-app="infekt" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html ng-app="infekt" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="infekt" class="no-js" lang="de-ch"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Infect</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />

    <!-- Style -->
    <link rel="stylesheet" href="dist/css/main.min.css" />

    <!-- Vendor -->
    <script src="src/bower_components/d3/d3.js"></script>
    <script src="src/bower_components/zepto/zepto.js"></script>
    <script src="src/bower_components/angular/angular.js"></script>
    <script src="src/bower_components/fxstr-angular-typeahead/fxstr-angular-typeahead/typeaheadDirective.js"></script>
    <script src="src/bower_components/angular-translate/angular-translate.js"></script>

    <script src="js/plugins.js"></script>
    <script src="js/matrix/resistency-matrix.js"></script>

    <!-- Infect Angular Module -->
    <!-- Base -->
    <script src="js/angular/infekt/app.js"></script>

    <!-- Factories -->
    <script src="js/angular/infekt/translationFactory.js"></script>
    <script src="js/angular/infekt/antibioticsFactory.js"></script>
    <script src="js/angular/infekt/bacteriaFactory.js"></script>
    <script src="js/angular/infekt/searchTableFactory.js"></script>
    <script src="js/angular/infekt/resistanceFactory.js"></script>
    <script src="js/angular/infekt/filterFactory.js"></script>

    <!-- Controllers -->
    <script src="js/angular/infekt/infektController.js"></script>

    <!-- Directives -->
    <script src="js/angular/infekt/resistanceMatrixComponent.js"></script>

    <!-- Filters -->
    <script src="js/angular/infekt/joinFilter.js"></script>

    <!-- View stuff -->
    <script src="js/main.js"></script>
    <style>
      svg	{
        height: 100%;
        width: 95%;
      }
      resistance-matrix {
        display: block;
      }
    </style>
  </head>
  <body data-ng-controller="InfektController">
    <main>
      <aside class="filters">
      <!-- <div class="header-filter"> -->
        <div class="filters-header">
          <header class="filter-header__logo">
            <div class="wrapper">
              <div id="logo" class="logo">
                <img src="img/logo.png" alt="Infect Logo" id="logo-img" />
                <!-- <h1 class="animated">Infect</h1> -->
              </div>
            </div>
          </header>
        </div>

        <div class="filters-filter">
          <div id="filter-wrapper">
            <div id="filter">
              <div class="wrapper">
                <!-- <label>Filter</label> -->
                <div id="filter-suggestion-input">
                  <div id="filter-input-wrapper" class="styled-input">
                    <input type="search" ng-model="searchFieldValue" class="typeaheadDirective" typeahead-empty-data-source="getDefaultResults" typeahead-data-source="getAllSearchTerms()" typeahead-max-results="9" typeahead-search-term-function="returnSearchTerm" typeahead-select-handler="selectHandlerCallback" typeahead-template-url="templates/infektResultListTemplate.html" typeahead-insert-after="#filter-input-wrapper" placeholder="Filter durchsuchen"></input>
                  </div>
                </div>
              </div>
            </div>

            <div id="active-filter">
              <ul class="active-filter-list flat-list">
                <li ng-repeat="type in ['bacterium','antibiotic','diagnosis']" data-ng-if="getFilterCount(type)">
                  <label class="animated">{{ type | translate }}</label>
                  <ul class="active-filter-item-list flat-list animated">
                    <!-- Filter (per property of bacterium) -->
                    <li ng-repeat="filter in getFilters(type)" class="filter-list-item">
                      <div class="filter-item-category">{{filter[ 0 ].humanName}}</div>
                      <!-- SubFilter (per filter of certain property) -->
                      <span ng-repeat="subFilter in filter">
                        {{subFilter.humanValue}} <button class="removeFilterButton" ng-click="removeFilter(subFilter)">&times;</button> <span ng-if="!$last">oder</span>
                      </span>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- </div> -->

        <!-- FILTER'S -->
        <!-- FILTER'S: Bakterien -->
        <div class="filters-bakterien">
          <div class="filters-bakterien__heading">
            <h3>Filter für Bakterien</h1>
          </div>

          <div class="filters-bakterien__list">
            <div class="filters-bakterien__list-gram">
              <p>Färbung(Gram)</p>
              <section class="filters-bakterien__list-name-checkbox">
                <form action="#">
                  <p>
                    <input type="checkbox" id="gram" />
                    <label for="gram">Gram+</label>
                  </p>
                  <p>
                    <input type="checkbox" id="gram2" />
                    <label for="gram2">Gram-</label>
                  </p>
                </form>
              </section>
            </div>

            <div class="filters-bakterien__list-form">
              <p>Form</p>
              <section class="filters-bakterien__list-name-checkbox">
                <form action="#">
                  <p>
                    <input type="checkbox" id="form1" />
                    <label for="form1">Stäbchen</label>
                  </p>
                  <p>
                    <input type="checkbox" id="form2" />
                    <label for="form2">Kugel</label>
                  </p>
                  <p>
                    <input type="checkbox" id="form3" />
                    <label for="form3">Kubus</label>
                  </p>
                </form>
              </section>
            </div>

            <div class="filters-bakterien__list-name">
              <p>Name</p>
              <section class="filters-bakterien__list-name-checkbox">
                <form action="#">
                  <p>
                    <input type="checkbox" id="name1" />
                    <label for="name1">Acinetobacter sp.</label>
                  </p>
                  <p>
                    <input type="checkbox" id="name2" />
                    <label for="name2">Actinomyces sp.</label>
                  </p>
                  <p>
                    <input type="checkbox" id="name3" />
                    <label for="name3">Aeromonas sp.</label>
                  </p>
                </form>
              </section>
            </div>
          </div>

          <select class="filters-antibiotika__dropdown">
            <option value="">Weitere ...</option>
            <option value="1">Jo weiss nid</option>
            <option value="0">Jo eue scho</option>
          </select>
        </div>

        <!-- FILTER'S: Antibiotika -->
        <div class="filters-antibiotika">
          <div class="filters-antibiotika__heading">
            <h3>Filter für Antibiotika</h4>
          </div>

          <div class="filters-antibiotika__list">
            <div class="filters-antibiotika__list-class">
              <p>Substanzklassen</p>
              <section class="filters-bakterien__list-name-checkbox">
                <form action="#">
                  <p>
                    <input type="checkbox" id="class1" />
                    <label for="class1">Penicillin</label>
                  </p>
                  <p>
                    <input type="checkbox" id="class2" />
                    <label for="class2">Co-trimoxozol</label>
                  </p>
                  <p>
                    <input type="checkbox" id="class3" />
                    <label for="class3">Ceftazidim</label>
                  </p>
                </form>
              </section>
            </div>
          </div>

          <select class="filters-antibiotika__dropdown">
            <option value="">Weitere ...</option>
            <option value="1">Jo weiss nid</option>
            <option value="0">Jo eue scho</option>
          </select>
        </div>

        <!-- FILTER'S: Diagnosen -->
        <div class="filters-diagnosen">
          <div class="filters-diagnosen__heading">
            <h3>Filter für Diagnosen</h3>
          </div>

          <div class="filters-diagnosen__list">
            <div class="filters-diagnosen__list-body">
              <p>Körperteil</p>
              <section class="filters-bakterien__list-name-checkbox">
                <form action="#">
                  <p>
                    <input type="checkbox" id="body1" />
                    <label for="body1">Respirationstrakt</label>
                  </p>
                  <p>
                    <input type="checkbox" id="body2" />
                    <label for="body2">Extremitäten</label>
                  </p>
                  <p>
                    <input type="checkbox" id="body3" />
                    <label for="body3">Intremitäten</label>
                  </p>
                </form>
              </section>
            </div>
          </div>

          <select class="filters-antibiotika__dropdown">
            <option value="">Weitere ...</option>
            <option value="1">Jo weiss nid</option>
            <option value="0">Jo eue scho</option>
          </select>
        </div>
      </aside>

      <aside class="content">
        <section id="content">
          <section id="matrix">
            <resistance-matrix resistances="resistances" bacteria="bacteria" antibiotics="antibiotics"></resistance-matrix>
          </section>
        </section>
      </aside>
    </main>
  </body>
</html>
