<style>
	div.localesBox
	{
		border-bottom:2px solid grey;
	}
</style>

<h4 class="form-box-header">
    {% trans %}Locales{% endtrans %}<p id="addLocalesLink" style="float:left;margin-right:10px;margin-bottom:10px;"></p>
</h4>
<div class="localesBox" data-prototype="{{ form_widget(form.locales.vars.prototype)|e }}">
	<div id="localesBoxWrapper"></div>
    {% for locale in form.locales %}
        <section>
        	{{ form_widget(locale) }}
        </section>
    {% endfor %}
</div>