
html,
button,
input,
select,
textarea {
    color: rgb(50, 50, 50);
}
html
{
	font-size: 62.5%;
}
body {

	margin:0;

	font: normal 1.4rem/1.3 futura_ltbook, Arial, sans-serif;
	color:rgb(50, 50, 50);
	
	-webkit-font-smoothing: subpixel-antialiased;
	text-rendering: optimizeLegibility;
	
}



/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
:focus {
    outline: none;
}
/*.animated
{
	-webkit-transition: all 250ms cubic-bezier(0.400, 0.000, 0.000, 1);
	-webkit-transition: all 250ms cubic-bezier(0.400, 0.000, 0.000, 1); 
	   -moz-transition: all 250ms cubic-bezier(0.400, 0.000, 0.000, 1); 
	    -ms-transition: all 250ms cubic-bezier(0.400, 0.000, 0.000, 1); 
	     -o-transition: all 250ms cubic-bezier(0.400, 0.000, 0.000, 1); 
	        transition: all 250ms cubic-bezier(0.400, 0.000, 0.000, 1);
}*/
.wrapper
{
	display:table;
	width:100%;
	height: 100%;
}
.wrapper > *
{
	display:table-cell;
	vertical-align: top;
}
.flat-list
{
	list-style: none;
	margin:0;
	padding:0;
}
label
{
	display:block;
	font: normal 1.3rem/1 futura_ltbold, Arial, sans-serif;
	margin-right:15px;
	letter-spacing: 0.2rem;
	text-transform:uppercase;
}
input
{
	-moz-box-sizing:border-box !important;
    -webkit-box-sizing:border-box !important;
    box-sizing:border-box !important;
	width:100%;
	border:none;
	font: normal 1.3rem/1 futura_ltbook, Arial, sans-serif;
	padding:12px 12px 6px 12px;
	text-transform: uppercase;
	color:rgb(183, 185, 14);
}
.styled-input
{
	width:100%;
	position: relative;
	border-bottom:1px solid rgb(183, 185, 14);
}
.styled-input:before,
.styled-input:after
{
	content:" ";
	display:block;
	position:absolute;
	bottom:0;
	width:1px;
	height:8px;
	background-color:rgb(183, 185, 14);
}
.styled-input:after
{
	right:0;
}

header
{
	position:static;
	z-index:1000;
	top:0;
	width:100%;
	/*height:71px;
	height:106px;*/
	/*overflow: hidden;*/
	background-color:rgb(255, 255, 255);
	border-bottom:1px solid rgb(210, 210, 210);
}
#logo
{
	width:50px;
	background-color:rgb(183, 185, 14);
	padding:20px 20px;
	text-align: center;
	/*vertical-align:middle;*/
}
#logo *
{
	display:block;
	margin:0 auto;
	color:rgb(255, 255, 255);
	font: normal 2.1rem/1 futura_ltbold, Arial, sans-serif;
	text-transform: uppercase;
}
#logo-img
{
	display:block;
	width:50px;
	margin-bottom:12px;
}
/*header #logo h1
{
	opacity:0;
}
header:hover #logo h1
{
	opacity:1;
}*/
#filter-wrapper
{
	display:table;
	width:100%;
	padding:30px 0;
}
#filter-wrapper > *
{
	display:table-cell;
	vertical-align: top;
}
#filter
{
	width:300px;
	padding:0 100px 0 40px;
}
#filter label
{
	float:left;
	color:rgb(200, 200, 200);
}

/* Suggestion Input */
#filter-suggestion-input
{
	position:relative;
	margin-top:-10px;
	width:100%;
	line-height:1;
}
#filter-input-wrapper
{
	position: relative;
	top:-16px;
}

/* Suggestion Overlay */
.typeahead-result-list
{
	position:absolute;
	z-index:80;
	margin-top:-16px;
	display:block;
	border:1px solid rgb(225, 225, 225);
	border-top:none;
	box-shadow:3px 3px 0 -1px rgba(0, 0, 0, .1);
}
#filter-suggestion-input:hover .typeahead-result-list
{
	display:block;
}
.filter-list-item
{
	font: normal 1.3rem/1.3 futura_ltheavy, Arial, sans-serif;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding:5px 0;
	background-color:rgb(255, 255, 255);
	
	// Remove button
	.removeFilterButton {
		border:none;
		background-color:transparent;
		color:rgb(175, 175, 175);
		outline:none;
		padding:.05rem .3rem;
		font-weight:bold;
		
		&:hover {
			box-shadow:none;
			background-color:@infekt-green;
			color:rgb(255, 255, 255);
		}
	}
	
	// Hover .filter-list-item
	&:hover {
		.removeFilterButton {

		}
	}
	
}
.filter-item-category
{
	display:block;
	overflow: hidden;
	text-overflow: ellipsis;
	color:rgb(183, 185, 14);
	font: normal 1rem/1.3 futura_ltbook, Arial, sans-serif;
}
.filter-suggestion-list .filter-list-item
{
	padding:5px 12px;
}
.filter-suggestion-list .filter-list-item:hover,
.filter-suggestion-list .filter-list-item.active
{
	background-color:rgb(183, 185, 14);
}
.filter-suggestion-list .filter-list-item:hover span,
.filter-suggestion-list .filter-list-item.active span
{
	color:rgb(255, 255, 255);
}

/* Active Filter */
#active-filter
{
	display:table;
	width:100%;
	max-width:700px;
	padding-right:100px;
}
.active-filter-list
{
	display:table;
	width:100%;
}
.active-filter-list > li
{
	display:table-cell;
	width:33.333%;
	padding-right:40px;

}
.active-filter-list > li:only-child
{
	border-right:solid transparent 40px;
	padding-right:50%;

}
.active-filter-list label
{
	position:relative;
	font: normal 1.3rem/1 futura_ltbook, Arial, sans-serif;
	padding-bottom:8px;
	border-bottom:1px solid rgb(225, 225, 225);
	letter-spacing: 0.1rem;
}
.active-filter-list label:only-child
{
	color:rgb(200, 200, 200);
}
/*header:hover .active-filter-list label
{
	border-bottom-color:rgb(225, 225, 225);
}*/
/* Filter Indicators */
.filter-item-indicator
{
	display:inline-block;
	position:absolute;
	margin-left:10px;
	margin-top:-6px;
	color:rgb(183, 185, 14);
	border:1px solid rgb(183, 185, 14);
	width:2rem;
	text-align: center;
	line-height:2rem;
	padding-top:1px;
}
.filter-item-indicator:before
{
	display:block;
	content:" ";
	position:absolute;
	left:-5px;
	top:5px;
	width:0; 
	height:0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent; 
	border-right:5px solid rgb(183, 185, 14);
}
.filter-item-indicator:after
{
	display:block;
	content:" ";
	position:absolute;
	left:-4px;
	top:5px;
	width:0; 
	height:0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent; 
	border-right:5px solid rgb(255, 255, 255);
}
label:only-child .filter-item-indicator
{
	color:rgb(200, 200, 200);
	border-color:rgb(225, 225, 225);
}
label:only-child .filter-item-indicator:before
{
	border-right:5px solid rgb(225, 225, 225);
}
/*header:hover .filter-item-indicator
{
	opacity:0;
}*/
/*.active-filter-item-list
{
	opacity:0;
}*/
.active-filter-list li label
{
	opacity:0;
}
.active-filter-list li label:not(:only-child)
{
	opacity:1;
}
/*header:hover .active-filter-item-list
{
	opacity:1;
}*/

.informationBox {
	
	position: relative;
	padding: 20px 40px;
	color: #d60000;
	font-weight: bold;
	background-color: #ffecec;
	border-bottom:1px solid rgb(210, 210, 210);
	
	p {
		font-size: 1.6rem;
		line-height: 1.35;
		max-width: 1000px;
		font-weight: inherit;
	}
	
	.button.-close {
    	-webkit-appearance: none;
    	-moz-appearance: none;
    	-ms-appearance: none;
    	appearance: none;
    	
    	position: absolute;
    	top: 0;
    	right: 0;
    	padding: 20px;
    	font-size: 24px;
    	background-color: transparent;
    	border: none;
    	
    	&:hover {
        	color: #d60000;
    	}
	}
	
}

.about-overlay-button {
	border: none;
	padding: 0;
	background-color: transparent;
	font-weight: bold;
	text-decoration: underline;
	
	&:hover {
		text-decoration: none;
	}
}



#content
{
	margin-top: 140px;
}

#resistence-table
{
	margin:0 40px 40px 40px;
	border-collapse:separate;
	font: normal 1.5rem/1.5 futura_ltcondensed, Arial, sans-serif;
	cursor:default;
}
#resistence-table th {
	font-weight:normal;
	position: relative;
}

#resistence-table th span {
	position: absolute;
}

#resistence-table th[scope="col"] {
	vertical-align: bottom;
	-webkit-transform: rotate(-70deg) translate( 10px, -12px);
	white-space:nowrap;
}

#resistence-table th[scope="row"] {
	text-align:right;
	padding:0 10px 0 0;
	vertical-align: middle;
	white-space: nowrap;
}

#resistence-table td {
	position:relative;
	padding:0;
	border:3px solid rgb(255, 255, 255);
	text-align:center;
	width:3rem;
	font-size:1.25rem;
	line-height:3rem;

	-webkit-backface-visibility: hidden;
}


#resistence-table:hover td {
	//background-color: rgb( 245, 245, 245 ) !important;
	//color: rgb( 150, 150, 150 );
}

#resistence-table td:not(.resistance-not-available):hover
{
	//background-color: red !important;
	color: black;
	//box-shadow:0 0 6rem rgba(0, 0, 0, .5);
	box-shadow:3px 3px 0 -1px rgba(0, 0, 0, .1);
	
}


#resistence-table th[scope="row"].highlighted,
#resistence-table th[scope="col"].highlighted span {
	
	background-color:rgb(243, 255, 111);
	
}

#resistence-table .highlighted {
	//color:rgb(243, 255, 111);
	//text-decoration: underline;
	
	&.resistance-high,
	&.resistance-intermediate,
	&.resistance-low {
		background-color:rgb(243, 255, 111);
	}
}



#resistence-table td:not(.resistance-not-available):hover
{
	
	-moz-transform:translate3d(0,0,0) scale(1.5);
	-webkit-transform:translate3d(0,0,0) scale(1.5);
	-ms-transform:translate3d(0,0,0) scale(1.5);
	-o-transform:translate3d(0,0,0) scale(1.5);
	transform:translate3d(0,0,0) scale(1.5);
	
	z-index:1;
	border:none;
}

// h: t * 100
// s: 0.7
// l: (1 - t) * 0.6 + 0.4

// t between 0 and 1
#resistence-table .resistance-0,
.legend-table-resistance-0 {
    background-color: hsl(100, 70%, 40%);

}
#resistence-table .resistance-1,
.legend-table-resistance-1 {
    
    background-color: hsl(90, 70%, 46%); 
}
#resistence-table .resistance-2,
.legend-table-resistance-2 {
    background-color: hsl(80, 70%, 52%); 
}
#resistence-table .resistance-3,
.legend-table-resistance-3 {
    background-color: hsl(70, 70%, 58%); 
}
#resistence-table .resistance-4,
.legend-table-resistance-4 {
    background-color: hsl(60, 70%, 64%);
}
#resistence-table .resistance-5,
.legend-table-resistance-5 {
    background-color: hsl(50, 70%, 70%);
}
#resistence-table .resistance-6,
.legend-table-resistance-6 {
    background-color: hsl(40, 70%, 76%);
}
#resistence-table .resistance-7,
.legend-table-resistance-7 {
    background-color: hsl(30, 70%, 82%); 
}
#resistence-table .resistance-8,
.legend-table-resistance-8 {
    background-color: hsl(20, 70%, 88%);
}
#resistence-table .resistance-9,
.legend-table-resistance-9 {
    background-color: hsl(10, 70%, 94%);
}
#resistence-table .resistance-10,
.legend-table-resistance-10 {
    background-color: hsl(0, 70%, 100%);
}

/*#resistence-table .resistance-bad,
#resistence-table .resistance-low,
.legend-table-low
{
	background-color:#b7b90e; // green
}
#resistence-table .resistance-fair,
#resistence-table .resistance-intermediate,
.legend-table-intermediate
{
	background-color:#ffd087; // orange
}
#resistence-table .resistance-good,
#resistence-table .resistance-high,
.legend-table-high
{
	background-color:#ffccbd; // red
}*/




#resistence-table .resistance-not-available {
	background-color: transparent;
	box-shadow:inset 0 0 1px rgb(210, 210, 210);
}
#resistence-table .rotated
{
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	writing-mode:tb-rl;
	white-space: nowrap;
}
#resistence-table th
{
	vertical-align: top;
}
#resistence-table .vertical
{
	line-height:1.5em;
	white-space: nowrap;
}





.about-overlay {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 40px 80px;
	border: 40px solid #fff;
	background-color: #fff;
	box-shadow: 0 0 80px rgba(0, 0, 0, 0.75);
	overflow: scroll;
	
}

.about-overlay-close-button {
	font-size: 6rem;
	position: fixed;
	right: 70px;
	top: 60px;
	background-color: transparent;
	border: none;
	color: #000;
	padding: 0;
	line-height: 1;
}

.about-overlay-inner {

	max-width: 800px;
	margin: auto;
	height: 100%;
	
	h1 {
		font-size: 4rem;
	}

	p, li {
		font-size: 1.6rem;
	}
	
	* {
		line-height: 1.5;
	}
	
	li {
		margin: 10px 0;
	}
	
	h4 {
		font-size: 1.76rem;
		margin-top: 5rem;
		margin-bottom: 0.5rem;
		
		+ p {
			margin-top: .75rem;
		}
	}
	
	table {
		
		margin-top: 1rem;
		font-size: 1.6rem;
		
		td {
			padding: 10px;
		}
	}

}